/* home titles */
.home {
    background: #e7e5e3;
}
.subtitle {
    color: #355068;
    font-size: 1.8rem;
    font-weight: 800;
}
.recursos h5.subtitle {
    font-weight: 800;
    color: #355068;
}
/* home herobanner */        
.herobanner {
    position: relative;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background: url(/images/bg-home-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.herobanner::before {
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(12,55,85,1) 0%, rgba(12, 55, 85, 0.859) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
}
.herocontent {
    z-index: 1;
    position: relative;
}
.herocontent .text-white {
    padding: 80px 0 40px;
}        
.herobanner h1 {
    font-size: 3rem;
    font-weight: 800;
}
.herobanner .subtitle {
    color: #fff;
    font-size: 1.3rem;
}
.herobanner p {
    font-size: 0.9rem;
    line-height: normal;
    opacity: 0.8;
}
.herobanner .card {
    background: #ffffffb0;
    backdrop-filter: blur(5px);
}
.herobanner .card-title {            
    color: #fff;
    padding: 10px 60px;
    border-radius: 0 0 10px 10px;
    background: #547a90;
}
.herobanner .card-text {
    padding: 20px 50px;
    color: #333333;
    font-size: 0.9rem;
}
.herobanner .shape {
    position: relative;
    z-index: 1;
    width: 100%;
}

/* home recursos */
.recursos .card {
    color: #fff;
    border-radius: 20px;
}
.recursos .card {
    background-size: cover;
    background-position: center;
}
.recursos .card.a {
    background-image: url('../images/home/bg-los-pot.png');
}
.recursos .card.b {
    background-image: url('../images/home/bg-la-ruta.png');
}
.recursos .card.c {
    background-image: url('../images/home/bg-indicadores.png');
}
.recursos .card .card-title {
    font-weight: 800;
    font-size: 1rem;
    text-transform: uppercase;
}
.recursos .card .card-text {
    font-size: 0.9rem;
    line-height: normal;
    min-height: 55px;
}
.recursos .card .btn {
    position: relative;
    color: #355068;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 500;
    background: #ffffff8b;
    border-radius: 40px;
    height: 40px;
    cursor: pointer;
}
.recursos .card .btn:hover {
    color: #355068;
}
.recursos .card .btn.active {
    background: #ffffffdd;
}
.recursos .card .btn img {
    width: 40px;
    position: absolute;
    top: -1px;
    border-radius: 40px;
    box-shadow: 1px 0px 10px #00000073;
}
.recursos .card .btn.active img {
    width: 40px;
    position: absolute;
    top: -1px;
    right: 0;
}
.recursos .card .btn p {
    margin-left: 50px;
    margin-right: 16px;
    transition: all 0.2s ease;
}
.recursos .card .btn.active p {
    margin-left: 16px;
    margin-right: 50px;
    transition: all 0.2s ease;
}
/* home consulta */
.consultas .swiper-consultas {
    margin-left: -6px;
    margin-right: -6px;
}
.consultas .swiper-slide {
    padding: 0 6px;
}
.consultas .swiper-slide .card {
    border-radius: 20px;
    background: #355068;
}
.consultas .swiper-slide .card a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    padding: 10px;
}
.consultas .swiper-slide .card a img {
    width: 100%;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 15px;
}
.consultas .swiper-slide .card a .title {
    width: 100%;
    font-weight: 800;
}
.consultas .swiper-slide .card a .subtitle {
    width: 100%;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
}
.consultas .swiper-pagination {
    bottom: var(--swiper-pagination-bottom, -30px) !important;
}
.consultas .swiper-pagination .swiper-pagination-bullet-active {
    background: #205571;
}
.consultas .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, -50px);
}
.consultas .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, -50px);
}
.consultas .swiper-button-next::after,
.consultas .swiper-button-prev::after {
    font-size: 30px;
    color: #205571;
}

/* home destacados */ 
.destacados .media {
    display: block;
    border-radius: 20px;
    overflow: hidden;
}
.destacados .panel-resultados-header {
    display: block;
    width: 100%;
    padding: 20px 15px;
    font-size: 14px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right 15px center;
}
.destacados .panel-resultados-header .label {
    font-weight: normal;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 5px;
    padding: 0px;
    display: inline-block;
    font-size: 13px;
}
.destacados .media .media-body {
    width: 100%;
    color: #fff;
    padding: 15px;
    background: #355068;
    background-size: cover;
    background-position: center;
}
.destacados .media .media-body.panel-resultados-header {
    background: #f6f3eb;
    text-align: center;
}
.destacados .media .media-body span {
    font-weight: 800;
}
.destacados .panel-resultados-descripcion2 {
    font-size: 14px;
    line-height: 1.2em;
    padding-top: 10px;
    margin-top: 15px;
    font-weight: 300;
    border-top: 1px solid #fff;
}
.destacados .panel-resultados-descripcion2 p {
    color: #fff;
    opacity: 0.8;
    font-size: 0.9rem;
    line-height: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 90px;
    max-height: 90px;
    min-height: 90px;
    padding-top: 5px;
}
.destacados .panel-resultados-tags2 .label {
    font-size: 10px;
    font-weight: normal;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 5px;
    padding: 5px;
    display: inline-block;
    background-color: gray;
}
.destacados .media .media-body .panel-resultados-descripcion2 strong {
    font-weight: 600;
}
.destacados .media .media-body .panel-resultados-descripcion2 strong i {
    font-size: 0.7rem;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}
.destacados .media .media-body .panel-resultados-descripcion2 strong.active i {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.destacados .media .media-body .panel-resultados-descripcion2 .list {
    padding-left: 15px;
    margin-top: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}
.destacados .media .media-body .panel-resultados-descripcion2 .list.expand {
    max-height: 500px;
    transition: max-height 1s ease;
}
.destacados .media button {
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
}
.destacados .media .panel-resultados-tags2 .label {
    color: #fff;
    border-radius: 5px;
    background-color: transparent;
}
.destacados #recursosViewDivFooter {
    display: flex;
    justify-content: center;
}
.destacados .panel-resultados-titulo2 {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    height: 50px;
    max-height: 50px;
    padding-top: 5px;
}
.destacados #recursosViewDivFooter .bottom {
    display: flex;
    justify-content: center;
}
.destacados #recursosViewDivFooter .bottom .pagination a {
    border: 0;
    font-size: 14px;
    padding: 0 7px;
    color: #666666;
    background: transparent;
}
.destacados #recursosViewDivFooter .bottom .pagination .active a {
    color: #337ab7;
}
.destacados #recursosViewDivFooter .bottom .dataTables_info {
    display: none;
}
.destacados #recursosViewDivFooter .bottom .dataTables_length {
    display: none;
}

/* home cifras */       
.bottom-section {
    background: url('../images/home/bg-home-recursos.png');          
    background-size: cover;
    background-repeat: no-repeat;
}
.cifras .icon {
    width: 100px;
    margin: 0 auto 10px auto;
}

/* home logo rotator */  
.logo-rotator {
    overflow: hidden;
    width: 100%;
}
.logo-rotator .icon-container {
    overflow: auto;
}
.icon-container {
    display: flex;
    width: calc(44 * 200px * 2);
    animation: scroll-left 60s linear infinite;
}
.icon-container .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-right: 20px;
}
.icon-container .img img {
    max-width: 100%;
    width: auto;
}
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* media querys */
@media (max-width: 1024px) {
    .herobanner::before {
        background: rgba(12, 55, 85, 0.736);
    }
}
@media (max-width: 768px) {
    .herobanner .card-title {
        width: 100%;
    }
    .herobanner .card-text {
        padding: 0px;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev,
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        display: none;
    }
    .cifras .col-md-3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cifras .icon {
        width: 50px;
        margin: 0 20px 0 0;
    }
    .cifras .text {
        width: 50%;
        text-align: left;
    }
    .cifras .text br {
        display: none;
    }
}
@media (max-width: 576px) {
    .herobanner .shape {
        width: 100%;
    }
    .herobanner::before {
        background: rgba(12, 55, 85, 0.78);
    }
}